.BuildControls {
    width: 100%;
    background-color: #d3ab93 ;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}
.CurrentPrice {
    color: #f9e7d8;
    font-size: 1.5em;
    font-weight: 600;
}

.Price{
    color: #8d5f5b;
    font-size: 1.1em;

}
.OrderButton {
    background-color: #d8a194;
    outline: none;
    cursor: pointer;
    border: none;
    color: #f9e7d8;
    font-weight: 600;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    margin: 25px;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 2px #976f66;
}

.OrderButton:hover, .OrderButton:active {
    background-color:#b8887d;
    border: none;
    color: #f9e7d8;
}

.OrderButton:disabled {
    background-color: #f9e7d8;
    cursor: not-allowed;
    border: none;
    color: #888888;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}