.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    font-weight: 600;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    cursor: pointer;
}

.BuildControl button:disabled {
    background-color: #AC9980;
    /* border: 1px solid #7E7365; */
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
    font-size: 1.3em;
    color: #fdecdd;
}

.BuildControl .Less {  
    background-color: #b67b75;
    border: none;
    border-radius: 2px;
    color: #f9e7d8;
}

.BuildControl .More {
    background-color: #8d5f5b;
    color: #f9e7d8;
    border: none;
    border-radius: 2px;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #b17871;
    color: #f9e7d8;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #744e4a;
    color: white;
}